{{ attach_library('test_module/custom_styles') }}

{# <h3>{{ controller_var }}</h3> #}

<h2>Titles of recipies</h2>
<div class='container-wrapper'>
  <div class='card-box'>
      {% if array %}
         {% for node in array %}
         <div class='individual-cards'>
            <h3>{{ node.title.value }}</h3> {# Display the recipe title #}
            <h4>{{ node.field_select_your_author.entity.title.value}}</h4> 
            <p>{{ node.created.value|date('F d, y')}}
          </div>
         {% endfor %}
      {% else %}
        <p>No recipes found for requested cuisine.</p>
      {% endif %} 
   
  </div>
</div>

{# <div class="container mt-4">
  <div class="row">
    {% for node in nodes %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if node.field_image.entity.uri.value %}
            <img src="{{ file_url(node.field_image.entity.uri.value) }}" class="card-img-top" alt="{{ node.title.value }}">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ node.title.value }}</h5>

            {% if node.field_select_your_author.entity %}
              <p class="card-text"><strong>Author:</strong> {{ node.field_select_your_author.entity.title.value }}</p>
            {% endif %}

            <p class="card-text"><small class="text-muted">Published on: {{ node.created.value|date('F d, Y') }}</small></p>
            
            <p class="card-text">{{ node.body.value|striptags|slice(150, true, '...') }}</p>

            <a href="{{ node.toUrl().toString() }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% else %}
      <p>No recipes found.</p>
    {% endfor %}
  </div>
</div>


<div class='container-wrapper'>
  <div class='card-box'>
    <div class='individual-cards'>
      <h3>Hello World 1</h3>
      <p> Hi im hello world!!!!</p>
    </div>
    
    <div class='individual-cards'>
      <h3>Hello World 2</h3>
      <p> Hi im hello world!!!!</p>
    </div>
    
     <div class='individual-cards'>
      <h2>Hello World 3</h2>
      <p> Hi im hello world!!!!</p>
    </div>
    
     <div class='individual-cards'>
      <h3>Hello World 4</h3>
      <p> Hi im hello world!!!!</p>
    </div>
    
    <div class='individual-cards'>
      <h3>Hello World 5</h3>
      <p> Hi im hello world!!!!</p>
    </div>
    
    <div class='individual-cards'>
      <h3>Hello World 6</h3>
      <p> Hi im hello world!!!!</p>
    </div>
   </div>
</div>


.container-wrapper {
  width: 1400px;
  margin: 0 auto;
   
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
body {
  background-color: #000;
}

.card-box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.individual-cards {
  flex-basis: calc(33.33333% - 30px); 
  text-align: center;
  background-color: grey;
  padding: 50px 0;
  border-radius: 28px;
  margin : 0 auto;
}




#}